<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet"  type = "text/css" href = "slideshowstyle.css">
</head>

<body>
    <section class = "slideshow">
        <div class = "content">
            <div class  = "content-carrousel">
                <figure class = "shadow"><img src  = "DragonCapsule.jpg"></figure>
                <figure class = "shadow"><img src  = "Falcon9.jpg"></figure>
                <figure class = "shadow"><img src  = "SN8.jpg"></figure>
                <figure class = "shadow"><img src  = "SN8FlipFlop.jpg"></figure>
                <figure class = "shadow"><img src  = "SpaceXFalcon9.jpg"></figure>
                <figure class = "shadow"><img src  = "Roadster2020.jpg"></figure>
                <figure class = "shadow"><img src  = "TeslaRoadster2020.jpg"></figure>
                <figure class = "shadow"><img src  = "RoadsterWhite.jpg"></figure>
                <figure class = "shadow"><img src  = "SpaceXFalcon9.jpg"></figure>
            </div>
        </div>
    </section>
</body>

</html>