<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CountAPI</title>
    <link rel="stylesheet" href="counter.css">
    <script src="counter.js"></script>
    <!-- <script src="https://api.countapi.xyz/hit/the-palm/visits?callback=updateVisitCount" async></script> -->

</head>

<body>
  <div>
    <!-- https://api.countapi.xyz/create?namespace=the-palm&key=palm&value=0 -->
    <!-- https://api.countapi.xyz/get/the-palm/palm -->
    <!-- https://api.countapi.xyz/update/the-palm/palm?amount=1 --> 
    <p>This page was viewed</p>
    <h1 id="count">0</h1>
    <p>times</p>
  </div>
  
  <div>
      
  </div>
    
</body>
</html>