<!DOCTYPE html>
<html>
<head>    
<title>The Palm</title>
<link rel = "stylesheet" type = "text/css" href = "menustyle.css">
<link href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel = "stylesheet">
</head>    
<body style = "background-color:black"></body>

    <ul>   
        <li>
            <a href = "#">
                <div class = "icon">
                    <i class = "fa fa-home" aria-hidden = "true"></i>
                </div>
                <!-- <div class = "name" data-text = "Home">Home</div> -->
        </li>    
        <li>
            <a href = "#">
                <div class = "icon">
                    <i class = "fa fa-user" aria-hidden = "true"></i>
                </div>
                <!-- <div class = "name" data-text = "About">About</div> -->
        </li>     
        <li>
            <a href = "#">
                <div class = "icon">
                    <i class = "fa fa-paper-plane"></i>
                </div>
                <!-- <div class = "name" data-text = "Projects">Projects</div> -->
        </li>     
        <li>
            <a href = "https://www.linkedin.com/in/utpal-mishra-199b96134/">
                <div class = "icon">
                    <i class = "fa fa-linkedin" aria-hidden = "true"></i>
                </div>
                <!-- <div class = "name" data-text = "Github">LinkedIn</div> -->
        </li>     
        <li>
            <a href = "https://github.com/Utpal-Mishra">
                <div class = "icon">
                    <i class = "fa fa-github" aria-hidden = "true"></i>
                </div>
                <!-- <div class = "name" data-text = "Github">Github</div> -->
        </li>           
    </ul>
       
</html>