<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CountAPI</title>
    <link rel="stylesheet" href="counter.css">
    <script src="counter.js"></script>
    <!-- <script src="https://api.countapi.xyz/hit/the-palm/visits?callback=updateVisitCount" async></script> -->

</head>

<body>
  <div>
    <!-- https://api.countapi.xyz/create?namespace=the-palm&key=palm&value=0 -->
    <!-- https://api.countapi.xyz/get/the-palm/palm -->
    <!-- https://api.countapi.xyz/update/the-palm/palm?amount=1 --> 
    <p>This page was viewed</p>
    <h1 id="count">0</h1>
    <p>times</p>
  </div>
  
  <div>
     <p id="demo"></p>

     <script>
        var x = document.getElementById("demo");
        
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
        
        
        function showPosition(position) {
          x.innerHTML = "Latitude: " + position.coords.latitude + 
          "<br>Longitude: " + position.coords.longitude;
        }
        
        
        function showError(error) {
          switch(error.code) {
            case error.PERMISSION_DENIED:
              x.innerHTML = "User denied the request for Geolocation."
              break;
            case error.POSITION_UNAVAILABLE:
              x.innerHTML = "Location information is unavailable."
              break;
            case error.TIMEOUT:
              x.innerHTML = "The request to get user location timed out."
              break;
            case error.UNKNOWN_ERROR:
              x.innerHTML = "An unknown error occurred."
              break;
          }
        }
        
     </script>
  </div>

    
</body>
</html>